/* #region Common rules */
:root {
    --sp-darker: #000000;
    --sp-light: #FFFFFF;
    --sp-dark-blue: #161C3B;
    --sp-dark: #1F1F1F;
    --sp-primary: #2D64E6;
    --sp-secondary-dark: #363636;
    --sp-secondary: #727272;
    --sp-secondary-light: #BEBCBB;
    --sp-danger: #CD3D0F;
    --sp-light-dark: #D9DADC;
}

h1 {
    font-size: 38px;
    font-weight: 500;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 23px;
}
p {
    font-size: 15px;
}
body {
    font-family: 'Inter', sans-serif;
}
img {
    max-width: 100%;
}
/* #endregion */


/* #region Debug */
.debug .header_top {
    height: 50px;
}
.debug .header_bottom {
    height: 100px;
    background-color: #2D64E6;
}
.debug .returnal,
.debug .takes_two {
    height: 300px;
    background-color: #161C3B;
}
.debug .my_carousel {
    height: 500px;
}
.debug .my_card{
    border: 1px solid;
    height: 50px;
}
.debug .presentation {
    background-color: antiquewhite;
    height: 1000px;
}
.debug .card_presentation {
    border: 1px solid;
    height: 150px;
}
.debug .slide_presentation,
.debug .card_new,
.debug .card_explore,
.debug .card_sale,
.debug .card_plus,
.debug .card_now,
.debug .card_social,
.debug .card_footer {
    border: 1px solid red;
    height: 150px;
}
.debug .plus {
    height: 300px;
}
/* #endregion */

/* Utilities */
.hidden_col {
    display: none;
}
.my_btn {
    text-decoration: none;
    border-radius: 20px;
    padding: 0.6rem 1rem;
}
.my_p_bg {
    color: var(--sp-secondary);
    font-weight: 500;
}

/* #region Header */
.header_top {
    background-color: var(--sp-darker);
}
.header_bottom {
    font-weight: 500;
}
header .my_btn {
    color: var(--sp-light);
    background-color: var(--sp-secondary-dark);
}
header i {
    color: var(--sp-darker);
}
/* #endregion */

/* #region Main*/
.returnal .jumbotron,
.takes_two .jumbotron {
    height: 650px;
    position: relative;
}
.jumbotron img {
    height: 100%;
    object-fit: cover;
}
.returnal .text_jumbo,
.takes_two .text_jumbo {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
}

.returnal a,
.takes_two a {
    background-color: var(--sp-danger);
    color: var(--sp-light);
}

.my_carousel .my_card img {
    border-radius: 15px;
}

.presentation .sub_title {
    font-size: 0.8rem;
    color: var(--sp-primary);
    font-weight: 500;
}
.presentation .my_btn {
    background-color: var(--sp-primary);
    color: var(--sp-light);
    font-size: 0.8rem;
    font-weight: 500;
}
.presentation .slide_presentation:hover {
    border-bottom: 3px solid var(--sp-primary);
}
.new {
    background-color: var(--sp-dark);
}

.plus {
    background-color: var(--sp-secondary-light);
}

.now {
    background-color: var(--sp-dark-blue);
}


/* footer */
footer {
    background-color: var(--sp-primary);
}

/*******************
****Media Query*****
**********************/
@media screen and (min-width:768px) {
    .hidden_col {
        display:block;
    }
}